if else statement

In [1]:
a = 30
b = 50

if(a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [2]:
a = int(input('Enter the first number : '))
b = int(input('Enter the second number : '))

if (a>b):
  print('First number is the greatest')
else:
  print('Second number is the greatest')

Enter the first number : 12
Enter the second number : 13
Second number is the greatest

if elif else statements

In [3]:
a =15
b=25
c=30
if(b<a>c):
  print('a is the greatest')
elif(a<b>c):
    print('b is the greatest')
else:
  print('c is the greatest')

c is the greatest

nested if statements

In [4]:
a=20
b=40
c=60
if(a>b):
  if(a>c):
    print('a is greater than rest')
  else:
    print('c is greater than the rest')
else:
  if(b>c):
    print('b is greater than the rest')
  else:
    print('c is greater than the rest')

c is greater than the rest

for loops

In [5]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 13
Enter the price of the laptop : 23
Enter the price of the laptop : 234
Enter the price of the laptop : 23
Enter the price of the laptop : 21

instead of this approach we could simply use the concept of loops

In [7]:
for i in range(7):
  laptop_price= int(input("enter the price of the laptop: "))

enter the price of the laptop: 344
enter the price of the laptop: 355
enter the price of the laptop: 644
enter the price of the laptop: 664
enter the price of the laptop: 464
enter the price of the laptop: 46443
enter the price of the laptop: 33

In [8]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

In [9]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [11]:
i = 5

while i<3:
  print(i)
  i +=1