# Operators in Python
Arithmetic Operators
Assignment Operators
Comparison Operators
Logical Operators
Identity Operators
Membership Operators

1. Arithmetic Operators

In [1]:
n1 = 20
n2 = 10

# addition
sum = n1 + n2
print('sum = ',sum)

# subtraction
diff = n1 - n2
print('difference = ',diff)

# multiplication
pro = n1 * n2
print('product = ',pro)

# division
quo = n1 / n2
print('quotient = ',quo)

# exponent
exp = n1**n2   # 20^10
print('exponent = ',exp)
# modulus
mod = n1 % n2
print('reminder = ',mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

Assignment operators

In [2]:
a = 5
print(a)

5

In [3]:
a = 5
a += 5
print(a)

10

In [4]:
a = 5
b = 10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

Logical operators

In [5]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

Identity operators (is or is not)

In [6]:
x = 5
y = 5

print(x is y)

True

In [7]:
x = 5
y = 10

print(x is y)

False

In [8]:
x = 5
y = 5

print(x is not y)

False

In [9]:
x = 5
y = 100

print(x is not y)

True

Membership opertors in or not in

In [10]:
a = 5
b =100

c = [1,2,3,4,5]
print( a in c)
print( b in c)

True
False

In [11]:
a = 5
b =100

c = [1,2,3,4,5]
print( a not in c)
print( b not in c)

False
True